@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  --font-heading : "Noto Sans", sans-serif;
  --font-para : "Open Sans", sans-serif;
  --color-gold : #ffd700
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
  color: gol;
}

body{
  background-color: var(--color-black);
}

#bg__color{
  background-image: url("../src/assets/bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: var(--color-black); 
}

::-webkit-scrollbar-thumb {
  background: var(--color-golden); 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

